
body
{
	margin: 0px;
	background: url('src/images/fond_jaune.png');
}



header
{
	border-bottom: 1px solid;
	background: #9DD9EA;
}
nav
{
	display: inline-block;
    width: 100%;
}
header ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
header li
{
	text-align: center;
	width: 24%;
	border-right: 1px solid;
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
	text-transform: uppercase;
}
#fin_li
{
	border: none;
	text-transform: capitalize;
}
header a
{
	color: black;
}