{% extends "::base.html.twig" %}

{% block title %}ProjicereUtilisateurBundle:Utilisateur:deconnection{% endblock %}

{% block body %}
<h1>Welcome to the Utilisateur:deconnection page</h1>
{% endblock %}
