{% extends "::base.html.twig" %}

{% block title %}ProjicereCoeurBundle:Principal:pagePrincipal{% endblock %}

{% block body %}
<h1>Page Principal</h1>
<a href="{{ path('deconnection') }}">Deconnection</a>
{% endblock %}
